[Unit]
Description=Manage dynamic dns for docker containers
After=docker.service

[Service]
WorkingDirectory=/usr/local/bin/dnsthing
ExecStart=/usr/local/bin/dnsthing/.venv/bin/python dnsthing.py -c 'systemctl restart dnsmasq' -H /run/dnsthing/docker --verbose
Restart=always

[Install]
WantedBy=multi-user.target
